body {
  background-color: #ecf0f1;
  color: #2c3e50;
  font-size: 1.3rem;
  margin-top: 5rem;
  padding-bottom: 5rem;
  text-align: center;
}
.foods-container {
  display: flex;
  justify-content: center;
}
.foods {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
}
.food {
  align-items: center;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  display: flex;
  font-size: 1.5rem;
  margin: 0.5rem;
  opacity: 0.7;
  padding: 1rem;
}
.food:hover {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
}
.food--active {
  opacity: 1;
  color: orange;
}
.food__name {
  cursor: pointer;
}
.food__score {
  cursor: pointer;
  font-size: 2rem;
  margin-left: 1rem;
}
.score {
  display: flex;
  justify-content: center;
}
.score__circle {
  align-items: center;
  border: 3px solid gray;
  background-color: white;
  border-radius: 50%;
  display: flex;
  height: 100px;
  justify-content: center;
  opacity: 0.95;
  width: 100px;
}
.score__number {
  font-size: 3rem;
}
